<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>fmapp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>fmapp_cs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>fmapp_jn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>fmapp_ly.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>fmapp_sjz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>fmapp_wf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>fmapp_wh.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>fmapp_yt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>181C55C619C299AE00A0117A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>181C592419C2BBEC00A0117A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>181D0DAD19BFE53200EFA836</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1868B16419C17C1D003C7F74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>188B5DE719C2CC3C00D06C8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18AA037319E618DB00507043</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18D330E119C1937A0071145A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A28B45F19176B1900E7A02B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A28B47A19176B1900E7A02B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
